h1, p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  width: auto;
  background-color: coral;
  z-index: 10;
  opacity: 0;
  border-radius: 5px;
  padding: 5px;
}